@media (max-width: 350px) {							/*anything less than 350px*/

	html {
		width: 100%;
	}

	body {
		color: #F8FF00;
		background-color: #62A1BC;
	}

	#pullMeDiv {
		position: fixed;
		width: 50px;
		height: 25px;
		background-color: blue;
		margin-top: 30px;
		margin-left: -10px;
		opacity: .5;
		font-size: 12px;
	}

	#nav {
		background-color: rgb(98,161,188);
		opacity: 0;
		left: -600px;
		top: 40px;
		width: 600px;
		height: 100%;
		transition: left 0s linear 0s, opacity 0.3s linear 0s;
		position: fixed;
	}

	#navPanelButton {
		position: fixed;
		right: 20px;
		width: 20px;
		height: 24px;
		background: linear-gradient(#FFF,#DDD);
		border: #AAA 1px solid;
		border-radius: 2px;
		padding: 2px 5px;
		cursor: pointer;
		transition: border 0.3s linear 0s;
		margin-top: 30px;
	}

	#navPanelButton:hover {
		border: #06F 1px solid;
	}

	#navPanelButton:hover div{
		background: #06F;
	}

	#navPanelButton > div{
		width: 20px;
		height: 4px;
		background: #333;
		margin: 3px 0px;
		border-radius: 4px;
		transition: background 0.3s linear 0s;
	}


	#header {
		position: fixed;
		color: #F8FF00;
		background-color: #62A1BC;
		height: 63px;
		width: 100%;
		margin-top: -80px;
	}

	#headerPara {
		font-family: 'Architects Daughter', sans-serif;
		font-size: 20px;
		text-align: center;
		margin-right: 10px;
	}
	
	#headerSubTitle {
		font-family: 'Architects Daughter', sans-serif;
		text-align: center;
		font-size: 30px;
		margin-bottom: 0px;
	}
	
	.linkButton {
		cursor: pointer;
		width: 175px;
		height: 50px;
		margin-bottom: 15px;
		margin-top: 30px;
		background-color: #62A1BC;
		color: #F8FF00;
		font-size: 50px;
		font-style: normal;
		text-align: center;
		opacity: 1;
		margin-left: 65px;
		border: 6px solid #F8FF00;
		border-radius: 6px;
	}

	#main {
		margin-top: 60px;
	}

	#footer {
		font-size: 8px;
	}
}

@media (max-width: 600px) and (min-width: 350px) {	/*anything over 350px and less than 600px*/
	body {
		color: #F8FF00;
		background-color: #62A1BC;
	}

	#nav {
		background-color: rgb(98,161,188);
		opacity: 0;
		left: -600px;
		top: 40px;
		width: 600px;
		height: 100%;
		transition: left 0s linear 0s, opacity 0.3s linear 0s;
		position: fixed;
	}

	#navPanelButton {
		position: fixed;
		right: 20px;
		width: 20px;
		height: 24px;
		background: linear-gradient(#FFF,#DDD);
		border: #AAA 1px solid;
		border-radius: 2px;
		padding: 2px 5px;
		cursor: pointer;
		transition: border 0.3s linear 0s;
		margin-top: 30px;
	}

	#navPanelButton:hover {
		border: #06F 1px solid;
	}

	#navPanelButton:hover div{
		background: #06F;
	}

	#navPanelButton > div{
		width: 20px;
		height: 4px;
		background: #333;
		margin: 3px 0px;
		border-radius: 4px;
		transition: background 0.3s linear 0s;
	}


	#header {
		position: fixed;
		color: #F8FF00;
		background-color: #62A1BC;
		height: 100px;
		width: 100%;
		margin-top: -80px;
	}

	#headerPara {
		font-family: 'Architects Daughter', sans-serif;
		font-size: 30px;
		text-align: center;
		margin-right: 10px;
        margin-bottom: 0px;
	}
	
	#headerSubTitle {
		font-family: 'Architects Daughter', sans-serif;
		font-size: 30px;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.linkButton {
		cursor: pointer;
		width: 200px;
		height: 75px;
		margin-bottom: 15px;
		margin-top: 30px;
		background-color: #62A1BC;
		color: #F8FF00;
		font-size: 50px;
		font-style: normal;
		text-align: center;
		opacity: 1;
		margin-left: 75px;
		border: 6px solid #F8FF00;
		border-radius: 6px;
	}

	#main {
		margin-top: 60px;
	}

	#footer {
		font-size: 8px;
	}
}